<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!--  Navbar links -->
		<div class="collapsable navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item d-flex flex-row"><a class="nav-link"
					th:href="@{/admin/tickets}">Tickets</a> <a class="nav-link"
					th:href="@{/admin/tickets/newTicket}">New Ticket</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<div class="container">
		<div class="row">
			<h1>List of Tickets</h1>
		</div>
		<br>

		<!-- Load icon library -->
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- The form -->
		<form class="example" th:action="@{/admin/tickets/search}"
			method="get">
			<input type="text" placeholder="Search.." name="query">
			<button type="submit">
				<i class="fa fa-search"></i>
			</button>
		</form>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created on</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ticket, iterStat: ${tickets}">
					<td th:text="${iterStat.index+1}"></td>
					<td th:text="${ticket.ticketTitle}"></td>
					<td th:text="${ticket.ticketShortDescription}"></td>
					<td th:text="${ticket.ticketCreatedOn}"></td>
					<td><a th:href="@{/admin/tickets/edit/{id}(id=${ticket.id})}"
						class="btn btn-primary">Edit</a> <a
						th:href="@{/admin/tickets/{id}(id=${ticket.id})}"
						class="btn btn-danger">Delete</a> <a
						th:href="@{/admin/tickets/view/{id}(id=${ticket.id})}"
						class="btn btn-info">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>